
/* Cambiar el color del enlace cuando se pasa el mouse por encima */

body{
    height: 100vh;
    font-family: 'Mulish', sans-serif; /*si no funciona quita esto */
}

footer {
    display:flex;
    margin-bottom:0; /* Empuja el pie de página hacia la parte inferior */
    justify-content: center;
    align-content: center;
    background-color: #ABABAB;
}

label{
    font-family: 'Mulish', sans-serif;
}

hr{
    border: 2px solid #161616;
    margin: 2% 0;
    width: 20%;
}

.container {
    width:100%;
    height:2257px;
    background-color:#EAE9E9; /*A modificar*/
    margin: auto; /* Esto centrará el form_container horizontalmente */
}



.container_subcontainer{
    display: flex;
    flex-direction: row;
    min-height: 400px;
    width: 80%;
    margin:5% 10%;
    justify-content: center;
    align-items: center;
}

.div-1_heading{
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin: 0;

}

.div-1_heading-2{
    font-size: 30px;

}

.subcontainer_div-1{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 400px;
    width:50%;
    height: 100%;
    margin:  0;
    justify-content: center;
    
}

/* .subcontainer_div-1 > *{
    margin: 4.2% 0;
} */

.subcontainer_recuadro{
    min-width: 500px;
    min-height: 400px;
    height: 100%;
    width: 50%;
    background-color: #ABABAB;
}

#div-1_input{
    width:20%;
    min-width: 130px;
    min-height:40px;
    height: 10%;
    color:#fff;
    background:#69C7C9;
    border:none;
    border-radius:52px;   
    margin: 0% 35%; 
}

.div-1_text{
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word; /* Propiedad antigua, pero ampliamente compatible */
    overflow-wrap: break-word; /* Propiedad moderna */
}



.subcontainer_width{
    width: 100%;
    margin:0;
}

.recuadro_2{
    width: 40%;
    margin:0;
}

.div-1_complete{
    width:60%;
    height: 100%;
    padding: 0 5% 0 4%;
    background-color: #D9D9D9;
}

.div-1_text-2{
    font-size: 18px;
    margin: 5%;
    margin-left: 0;
}

.div-1_center{
    width: 70%;
    align-items: center;
    justify-content: center;
}

.div-text_center{
    text-align: center;
}

.subcontainer_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin:3% 0;
}

.benefit{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.benefit-text{
    font-weight: bold;
    margin-left: 20%;
    font-size: 22px;
}

.subcontainer_icon-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 4% 0;
}

.characteristic{
    display: flex;
    flex-direction: row;
    margin: 3% 0;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.characteristic-text{
    font-weight: normal;
    margin: 0;
    margin-left: 5%;
    font-size: 18px;
}

.subcontainer_incentive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.incentive_text{
    font-size: 22px;
    font-weight: bold;
    margin:5%;
    margin-bottom: 0;
}

.div-1_heading-3{
    margin: 5%;
}