/* Cambiar el color del enlace cuando se pasa el mouse por encima */
*{
    font-family: 'Mulish';
    font-weight: normal;
    font-style: normal;
}
body{
    height: 100vh;
    font-family: 'Mulish', sans-serif;
}
a:hover {
    color: #8AE0DB;
}
footer {
    display:flex;
    margin-bottom:0; /* Empuja el pie de página hacia la parte inferior */
    justify-content: center;
    align-content: center;
    background-color: #ABABAB;
}

p{
    margin:0;
    word-wrap: break-word; /* Propiedad antigua, pero ampliamente compatible */
    overflow-wrap: break-word; /* Propiedad moderna */
}
span{
    height:10%;
}

/* Estilos para el menú de navegación */
.selects{
    box-sizing: border-box;
    padding:10px 16px 10px 16px;
    background-color: #69C7C9;
    color:#fff;
    width:700px;
    border:none;
    border-radius:6px;
    height:40px;
}
body {
    margin: 0;
    padding: 0;
    width: auto;
}
.wrapper {
    display: flex;
    position:absolute;
    z-index: 5;
    flex-direction: column;
    height: 100vh;
    width:100%
}

nav {
    height:65px;;
    background-color: #ABABAB;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 21px;
}
li {
    font-family: 'Mulish', sans-serif;
    width: 57px;
    height: 20px;
    display: inline;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
}
/* Cambiar el color del enlace cuando se pasa el mouse por encima */

footer {
    display:flex;
    margin-bottom:0; /* Empuja el pie de página hacia la parte inferior */
    justify-content: center;
    align-content: center;
    background-color: #ABABAB;
}

label{
    font-family: 'Mulish', sans-serif;
}

hr{
    border: 2px solid #161616;
    margin: 2% 0;
    width: 15%;
}

.container {
    width:100%;
    height:2257px;
    background-color:#EAE9E9; /*A modificar*/
    
    align-items: center;
    display: flex;
    flex-direction: row;
    
}

/* .container_subcontainer{
    display: flex;
    flex-direction: column;
    min-height: 578px;
    height: 80%;
    width: 70%;
    margin:5% 10%;
    justify-content: center;
    align-items: center;
} */

.heading{
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    margin: 0;
    width: 50%;
}

.container_registrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    height: 80%;
}

.container_tabla{
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 75%;
    margin: 5%;
    margin-left: 0;
    overflow: auto;
}

table {
    width: 100%;
    font-weight: 100;
    height: auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
    border-radius: 5px;
}

th, td{
    background-color: #ffffff33;
    padding: 15px;
    color:#595757;
}

th{
    text-align: left;
}

thead th{
    background-color: #499fa1;
    color: #EAE9E9;
}

tbody tr:hover{
    background-color: #ffffff4d;
}

tbody td {
    position:relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    background-color: #ffffff33;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    z-index: -1;
}

.container button{
    background-color: #69C7C9;
    color: #fff;
    font-size: 12px;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */
    margin: 0;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    height: 100%;
    width: 100%;
    row-gap: 2%;
    margin-left: 0;
}

.container input{
    border: solid;
    border-color: #69C7C9;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 90%;
    height: 30%;
    outline: none;
}

.form-heading{
    display: flex;
    justify-content: left;
    width: 100%;
}
.form-input{
    width: 70%;
    height: 15%;
    margin: 0;
}

input:focus{
    border-width: 3px;
    outline: none;
    border-color: #8AE0DB;
}

button:hover{
    background-color: #499fa1;
}