/* Estilos para el menú de navegación */
.selects{
    box-sizing: border-box;
    padding:10px 16px 10px 16px;
    background-color: #69C7C9;
    color:#fff;
    width:100%;
    border:none;
    border-radius:6px;
    height:40px;
}
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    position:absolute;
    z-index: 5;
    flex-direction: column;
    height: 100vh;
    width:100%
    
}
.buttons{
    display:flex;
    
    width:900px;
    margin:auto;
    margin-top:55px;
    margin-bottom:0;
    gap:50px;
    position:relative;
    z-index:2 ;
    
}
nav {
    display:flex;
    height:30px;
    width:100%;
    justify-content: space-between;
    background-color: #ABABAB;
    
}

ul {
    display:flex;
    list-style-type: none;
    padding:0;
    margin:0;
    height:100%;
   
}

li {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    width: 25%;
    
    height: 100%;
   
   
}
.nav-selects{
   border:2px solid #69C7C9;
   height:2px;
   width:100px;
}
.nav-options{
    background: none;
}

a {
    
    font-size: 16px;
    text-decoration: none;
    color: #000;
    
}

/* Cambiar el color del enlace cuando se pasa el mouse por encima */


footer {
    display:flex;
    margin-bottom:0; /* Empuja el pie de página hacia la parte inferior */
    justify-content: center;
    align-content: center;
     background-color: #ABABAB;
}
.gray_button{
    width:134px;
    height:40px;
    background:#D9D9D9;
    border:none;
    border-radius:8px; 
    
}
.blue_buttons{
    
    width:122px;
    height:40px;
    color:#fff;
    background:#69C7C9;
    border:none;
    border-radius:52px;
    
    
 
}

.form_container {
    position:relative;
    z-index:2 ;
    width:900px;
    height:404px;
    background-color:#EAE9E9; 
    margin: auto; /* Esto centrará el form_container horizontalmente */
    margin-top: 50px; /* Ajusta la distancia desde la parte superior según sea necesario */
    border-radius: 10px;
    box-sizing: border-box;
    padding:4%;
    
    
}

.form{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top:41px;
    width:700px;
    height:321px;
     gap: 20px;
}
label{
    
    font-family: 'Mulish', sans-serif;
    
}
input{
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    width:100%;
    height:40px;
    padding:14px;
    border:3px solid #69C7C9;
    border-radius:8px;
}
.add-ambulance{
    display:none;
}
.add-ambulance_enable{
    
    margin:auto;
    display:flex;
    
    border-radius: 10px;
    
    position:relative;
    z-index: 5;
    width: 100%;
    height: 100vh;
    
}
.sub_add-ambulance{
    box-sizing:border-box;
    display: flex;
    flex-direction:column;
    padding:40px;
    gap:20px;
    margin:auto;
    width:340px;
    height:475px;
    position: relative;
    z-index:10;
    background: #E3E2E2;
    justify-content:center;
    border-radius:10px;
    
    
    
}
#disable_Container{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index:9;
    display:none
}
.history-container{
    width: 900px;
    height: 500px;
    border-radius: 10px;
        background:#EAE9E9;
        margin:auto;

}
.rows-container{
    
    display:flex;
    flex-direction: column;
    
    margin:auto;
    width: 800px;
    height: 370px;
    gap: 30px;
    box-sizing: border-box;
     padding:50px 0;

   
        

}
.rows{
  
    color:white;
    border-radius: 10px;
    box-sizing: border-box;
    padding:15px 20px;
    height:50px;
    border:10px;
    
    
    background:#69C7C9; 
}

.user-data,.pacient-data{
    display:flex;
    flex-direction: column;
    width:420px;
    height:296px;
    gap:10px;
    

}
.personal-data{
    display: flex;
    
    justify-content:space-between;
}
.emergency-data{
    display:flex;
    flex-direction: column;
}
.request_container{
    
    margin:auto;
    
    height:100%;
    
    width:905px;
}
.form{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.description-container{
    display:flex;
    flex-direction:column;
    width:100%;
    height:230px;
    gap:10px;
    
}
textarea{
 box-sizing:border-box;
width:100%;
height:147px;
padding: 14px 10px 10px 20px;
border-radius: 8px;
border-color:#69C7C9;
resize: none;
}
.coords-container{
    display:flex;
    flex-direction:column;
    width:100%;
    height:65px;
    gap:20px;
}
.input-coords{
    display:flex;
    
    height:65px;
    gap:10%;
    width:100%;
}
.date-container{
    display:flex;
   
    width:100%;
    height:65px;
    gap:10%;
    
}
.close-code{
    display:flex;
    flex-direction: column;
    width:100%;
    height:65px;
    gap:10%;
    
}
.Ambulance-data{
    display:flex;
    
    width:100%;
    height:65px;
    gap:10%;
    
}
.selections{
    box-sizing: border-box;
    padding:10px 16px 10px 16px;
    background-color: #69C7C9;
    color:#fff;
    width:100%;
    border:none;
    border-radius:6px;
    height:40px;
}
.more-data{
    display:flex;
    height:423px;
    width:100%
    
}
.img-container{
   box-sizing: box-sizing;
   padding: 5%;
    width: 90%;
    height:100%;
        
}
img{
    width:100%;
    height:100%;
    object-fit: fill;
    
}
.more-data_subcontainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap:30px;
    width:50%;
    height:100%;
}
.nav-button{
    
    border: solid 2px #69C7C9 ;
}
.nav-container{
    width:90%;
    display:flex;
    justify-content: space-between
    
    
}
.top-container{
    display:flex;
    width:100%;
    box-sizing: border-box;
    padding:15px;
    background:#ABABAB;
    height:65px;
}
.logo-container{
    width:10%;
}
.nav-left{
    width: 50%;
        height:100%;
}
.nav-right{
    width:10%;
    height: 100%;
}
.menu-container{
    flex-direction: column;
    width:200px;
}
.nav-ul{
   flex-direction: column;
    
}
.nav-li{
    
    width:100%;
    background:#fff;
    font-size:15px;
    border-radius:10px;
    padding:5px 10px;
}
.nav-li:hover{
    border: solid 2px #69C7C9;    
}
.nav-label{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}

.nav-label:hover{
     border: solid 2px #69C7C9;
         border-radius:10px;
         
     background: #fff;
}
